<div data-id={{_id}}>
    <img>
    <div class=meta>
        <dl>
            <dt>name</dt>
            <dd>{{name}}</dd>
            <dt>&nbsp;</dt>
            <dd></dd>
            <dt>id</dt>
            <dd>{{_id}}</dd>
        </dl>
        <dl>
            <dt>width</dt>
            <dd>{{width}}</dd>
            <dt>height</dt>
            <dd>{{height}}</dd>
            <dt>Depth</dt>
            <dd>{{depth}}</dd>
        </dl>
    </div>
    <div class=actions>
        <a class=actions-edit>&#9998;</a>
        <a class=actions-delete>&#10006;</a>
    </div>
</div>