<form>
    <div class='col-sm-5'>
        <!-- hidden _id -->
        <input type=hidden name=_id value={{_id}}>

        <!-- type-->
        <div class="form-group row">
            <label for="createTileType" class="col-sm-3 col-form-label">Type</label>
            <div>
                <select name=type class="form-control" required id="createTileType">
                    <optgroup label="Item">
                        <option value=item_weapon {{#eq type 'item_weapon'}} selected={{/eq}}>Weapon</option>
                        <option value=item_potion {{#eq type 'item_potion'}} selected={{/eq}}>Potion</option>
                        <option value=item_questItem {{#eq type 'item_questItem'}} selected={{/eq}}>Quest item</option>
                    </optgroup>
                    <optgroup label="Player">
                        <option value=player_npc {{#eq type 'player_npc'}} selected={{/eq}}>npc</option>
                    </optgroup>
                    <optgroup label="World">
                        <option value=world_tree {{#eq type 'world_tree'}} selected={{/eq}}>Tree</option>
                        <option value=world_stone {{#eq type 'world_stone'}} selected={{/eq}}>Stone</option>
                        <option value=world_house {{#eq type 'world_house'}} selected={{/eq}}>House</option>
                    </optgroup>
                </select>
            </div>
        </div>

        <!-- name -->
        <div class="form-group row">
            <label for="createTileName" class="col-sm-3 col-form-label">Name</label>
            <div>
                <input name=name type="text" class="form-control" id="createTileName" value="{{name}}" required>
            </div>
        </div>

        <!-- width -->
        <div class="form-group row">
            <label for="createTileWidth" class="col-sm-3 col-form-label">Width (x)</label>
            <div>
                <input type="number" class="form-control" name=width id="createTileWidth" value="{{width}}">
            </div>
        </div>

        <!-- height -->
        <div class="form-group row">
            <label for="createTileHeight" class="col-sm-3 col-form-label">Height (y)</label>
            <div>
                <input type="number" class="form-control" name=height id="createTileHeight" value="{{height}}">
            </div>
        </div>

        <!-- depth -->
        <div class="form-group row">
            <label for="createTileDepth" class="col-sm-3 col-form-label">Depth (z)</label>
            <div>
                <input type="number" class="form-control" name=depth id="createTileDepth" value="{{depth}}">
            </div>
        </div>

        <!-- animation toggle -->
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">&nbsp;</label>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" id="isAnimation" name="animation" class="custom-control-input">
                <label class="custom-control-label" for="isAnimation">Animation</label>
            </div>
        </div>

        <!-- auto resize -->
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">&nbsp;</label>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" id="createTileResize" name="resize" class="custom-control-input" checked="checked">
                <label class="custom-control-label" for="createTileResize">Resize to max 640W|H</label>
            </div>
        </div>
    </div>

    <!-- img upload -->
    <div class='col-sm-6'>
        <div class="form-group row">
            <div class="create-tile-upload-preview"></div>
        </div>
        <div class="form-group row">
            <label class="btn btn-primary btn-upload">
                Upload <input type="file" id="createTileUploadBtn" required name=image class="form-control" accept="image/x-png">
            </label>
        </div>
    </div>
</form>